.test_list {
  display: flex;
  list-style: none;
  gap: 50px;

  font-size: 20px;
}

.list_item:not(:first-child) {
  color: green;
}

.list_item:first-child {
  color: yellow;
  font-size: 53px;  
}