/**
  |============================
  | 2C2C2C
  000000 menu

   Dark green 

  color: #7EB101;
  Yellow main 

  background: #FFE550;
  |============================
*/

:root {
  --background-yellow: #FFE550;
  --swiper-navigation-size: 40px;

  --padding-v-desk: 16px;
  --padding-v-tab: 32px;
  --padding-v-mob: 20px;
}