<div class="favorites__section">
  <div class="favorites__container">
    <h2 class="favorites__title">Some of Our Favorites</h2>
    <p class="favorites__lables">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>

    <ul class="favorites__list">
      <li class="favorites__item">
        <div class="favorites__wrap">
          <img
            class="favorites__img"
            src="./images/gamburger.png"
            alt="gamburger"
            width="315"
          />
        </div>
      </li>
      <li class="favorites__item">
        <div class="favorites__wrap">
          <img
            class="favorites__img"
            src="./images/pasta.png"
            alt="pasta"
            width="315"
          />
        </div>
      </li>
      <li class="favorites__item">
        <div class="favorites__wrap">
          <img
            class="favorites__img"
            src="./images/pizza.png"
            alt="pizza"
            width="315"
          />
        </div>
      </li>
      <li class="favorites__item">
        <div class="favorites__wrap">
          <img
            class="favorites__img"
            src="./images/chicken.png"
            alt="chicken"
            width="315"
          />
        </div>
      </li>
      <li class="favorites__item">
        <div class="favorites__wrap">
          <img
            class="favorites__img"
            src="./images/salat.png"
            alt="salat"
            width="315"
          />
        </div>
      </li>
      <li class="favorites__item">
        <div class="favorites__wrap">
          <img
            class="favorites__img"
            src="./images/borshch.png"
            alt="borshch"
            width="315"
          />
        </div>
      </li>
    </ul>
  </div>
</div>
