<div class="hero__section">
  <div class="hero__container">
    <!-- Section with slider -->
    <div class="hero__wrap-section section1">
      <div class="hero__wrap--left">
        <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1>
        <p class="hero__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        </p>
        <button class="hero__btn" type="button" data-modal-open>
          Order Now
        </button>
      </div>

      <div class="slider__wrap">
        <div class="slider__button--prev">
          <svg class="slider__button--img" width="18" height="32">
            <use href="./images/icons.svg#icon-prev"></use>
          </svg>
        </div>
        <div class="slider__button--next">
          <svg class="slider__button--img" width="18" height="32">
            <use href="./images/icons.svg#icon-next"></use>
          </svg>
        </div>

        <div class="slider">
          <div class="slider__item">
            <img
              class="slider__img"
              src="./images/swiper-1.png"
              alt="sauce in a plate"
              width="528"
            />
          </div>

          <div class="slider__item">
            <img
              class="slider__img"
              src="./images/swiper-2.png"
              alt="salt"
              width="528"
            />
          </div>

          <div class="slider__item">
            <img
              class="slider__img"
              src="./images/swiper-3.png"
              alt="food"
              width="528"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- Section with swiper  -->
    <div class="hero__wrap-section">
      <div class="hero__wrap--left">
        <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1>
        <p class="hero__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        </p>
        <button class="hero__btn" type="button">Order Now</button>
      </div>

      <div class="swiper__wrap">
        <div class="swiper__button--prev">
          <svg class="swiper__button--img" width="18" height="32">
            <use href="./images/icons.svg#icon-prev"></use>
          </svg>
        </div>
        <div class="swiper__button--next">
          <svg class="swiper__button--img" width="18" height="32">
            <use href="./images/icons.svg#icon-next"></use>
          </svg>
        </div>

        <div class="hero__swiper swiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <img
                class="img hero__img"
                src="./images/swiper-1.png"
                alt="sauce in a plate"
                width="528"
              />
            </div>
            <div class="swiper-slide">
              <img
                class="img hero__img"
                src="./images/swiper-2.png"
                alt="salt"
                width="528"
              />
            </div>

            <div class="swiper-slide">
              <img
                class="img hero__img"
                src="./images/swiper-3.png"
                alt="food"
                width="528"
              />
            </div>
            ...
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>

          <!-- If we need scrollbar -->
          <!-- <div class="swiper-scrollbar"></div> -->
        </div>
      </div>
    </div>
  </div>
</div>
