<!-- Modal window -->
<div class="backdrop is-hidden" data-modal>
  <div class="modal-window">
    <button class="modal-window__btn-close" type="button" data-modal-close>
      <svg class="modal-window__icon-close">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>

    <form name="call-back" class="call-back">
      <h2 class="modal-window__title">
        Залиште свої дані, ми вам передзвонимо
      </h2>

      <button type="submit" class="modal-window__button-send">
        Відправити
      </button>
    </form>
  </div>
</div>
