<div class="offerings__section">
  <div class="offerings__container">
    <div class="offerings__wrap--img">
      <img
        class="offerings__img--big"
        src="./images/apple-big.png"
        alt=""
        width="550"
      />
      <img class="offerings__img" src="./images/apple.png" alt="" width="116" />
      <img
        class="offerings__img--small"
        src="./images/apple-small.png"
        alt=""
        width="108"
      />
    </div>

    <div class="offerings__wrap">
      <h2 class="offerings__title">What’s Special About Our Offerings</h2>
      <p class="offerings__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>

      <ul class="offerings__list">
        <li class="offerings__item offerings__item--rocket">
          <h3 class="offerings__name">Fasest Delivery</h3>
          <p class="offerings__content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>

        <li class="offerings__item offerings__item--touch">
          <h3 class="offerings__name">Easy To Order</h3>
          <p class="offerings__content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
