<!-- Link JS -->
<!-- Подключаем jQuery -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<!-- Подключаем слайдер Slick -->
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script src="./js/slick.js"></script>

<!-- Подключаем SWIPER -->
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="./js/swiper.js"></script>

<!-- Подключаем Modal window -->
<script src="./js/modal.js"></script>
