/**
  |============================
  | 
  |============================
*/

.hero__wrap-section {
  display: flex;
  justify-content: space-between;

}

.swiper__wrap {
  display: none;
  position: relative;

  justify-content: center;
  align-items: center;

  @include mq(tab) {
    display: flex;
    max-width: 320px;
    width: 320px;
    margin-right: 8px;
  }

  @include mq(desk) {
    max-width: 580px;
    width: 580px;
    margin-right: 14px;
  }
}


.swiper {
  width: 100%;
  position: relative;
  display: block;
  padding: 5px;

  border-radius: 50%;

  @include mq(tab) {
    border: 14px solid #ffe550;
  }

  @include mq(desk) {
    border: 26px solid #ffe550;
  }
}

.hero__img {
  @include img();
  width: 100%;
  user-select: none;
}

.swiper-slide-visible {
  overflow: hidden;
}


// .swiper-slide {
//   min-width: 0;
//   overflow: hidden;
// }

/**
  |============================
  | Button
  |============================
*/
@mixin swiper-button() {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 34px;
  height: 28px;
  position: absolute;
  z-index: 10;

  color: #2c2c2c;

  background: #ffffff;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 8px;

  @include mq(desk) {
    width: 48px;
    height: 40px;
  }

  &:hover {
    color: #7eb101;
  }

  &:active {
    color: #2c2c2c;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
  }

}

.swiper__button--prev {
  @include swiper-button();
  left: -8px;

  @include mq(desk) {
    left: -14px;
  }
}

.swiper__button--next {
  @include swiper-button();
  right: -8px;

  @include mq(desk) {
    right: -14px;
  }
}

.swiper__button--img {
  fill: currentColor;
  width: 11px;

  @include mq(desk) {
    width: 16px;
  }
}