.hero__section {
  @include section();
  padding-bottom: 0;
}

.hero__container {
  // @include container();

  // display: flex;
  // justify-content: space-between;
}

.hero__wrap-section:not(:first-child) {
  margin-top: 100px;
}

.hero__wrap--left {
  padding-top: 160px;
  width: 100%;

  @include mq(tab) {
    width: 336px;
  }

  @include mq(desk) {
    width: 505px;
  }
}

.hero__title {
  width: 100%;
  font-family: "Roboto";

  font-weight: 700;
  font-size: 48px;
  line-height: 1.22;

  color: #2c2c2c;
}

.hero__text {
  font-family: "Roboto";

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  color: #2c2c2c;
}

// .hero__wrap-section.section1 {
//   display: none;
// }